# Python
__pycache__/
*.pyc
*.pyo

data/Combined_Instruments.csv

# Virtual environment
.env
venv/

# Database
*.db

# Logs
logs/
*.log
# Credentials
config/credentials.py

# OS files
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
